body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.cool-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cool-box {
  width: 200px;
  height: 200px;
  background-color: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 15px;
}

.cool-box:hover {
  background-color: #2980b9;
}
.cool-box span{
  text-align: center;
}